<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <title>Template Generator</title>
</head>
<body>
<div class="container mt-5">
    <div class="row row justify-content-md-center">
        <div class="col col-lg-8">
            <h1>Template Generator</h1>
            <form method="post" action="/templates">
                <div class="form-group">
                    <label for="hwCode">Homework LaTeX Code</label>
                    <textarea class="form-control" id="hwCode" name="hwCode" aria-describedby="hwCodeHelp" rows="3"
                              spellcheck="false"
                              required></textarea>
                    <small id="hwCodeHelp" class="form-text text-muted">Copy and paste the entire document from
                        Overleaf.</small>
                </div>
                <div class="form-group">
                    <label for="unitNumber">Unit Number</label>
                    <input type="number" class="form-control" id="unitNumber" name="unitNumber"
                           aria-describedby="unitNumberHelp"
                           required>
                    <small id="unitNumberHelp" class="form-text text-muted">Used to prepend problem numbers (e.g.,
                        problem 9 from unit 3 will be
                        3.9).</small>
                </div>
                <div class="form-group">
                    <label for="author">Author</label>
                    <input type="text" class="form-control" id="author" name="author" aria-describedby="authorHelp"
                           required>
                    <small id="authorHelp" class="form-text text-muted">Your name.</small>
                </div>
                <button type="submit" class="btn btn-primary">Create templates</button>
            </form>
        </div>
    </div>
</div>
<footer>
    <div class="text-center mt-5">
        Copyright © 2020 Thomas Breydo
    </div>
</footer>
</body>
</html>