{% extends "base.html" %}
{% block title %}Template Generator{% endblock %}
{% block content %}
    <h1>Template Generator</h1>
    <form method="post" action="/templates">
        <div class="form-group">
            <label for="hwCode">Homework LaTeX Code</label>
            <textarea class="form-control" id="hwCode" name="hwCode" aria-describedby="hwCodeHelp" rows="3"
                      spellcheck="false"
                      required></textarea>
            <small id="hwCodeHelp" class="form-text text-muted">Copy and paste the entire document from
                Overleaf.</small>
        </div>
        <div class="form-group">
            <label for="unitNumber">Unit Number</label>
            <input type="number" class="form-control" id="unitNumber" name="unitNumber"
                   aria-describedby="unitNumberHelp"
                   required>
            <small id="unitNumberHelp" class="form-text text-muted">Used to prepend problem numbers (e.g.,
                problem 9 from unit 3 will be
                3.9).</small>
        </div>
        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" class="form-control" id="author" name="author" aria-describedby="authorHelp"
                   required>
            <small id="authorHelp" class="form-text text-muted">Your name.</small>
        </div>
        <div class="form-group">
            <label for="templateType">Template Type</label>
            <select class="form-control" id="templateType" name="templateType">
                <option value="basic">Basic</option>
                <option value="induction">Induction</option>
            </select>
        </div>
        {% if error %}
            <p class="error text-danger"><strong>{{ error }}</strong></p>
        {% endif %}
        <button type="submit" class="btn btn-primary">Create templates</button>
    </form>
{% endblock %}