{% extends "base.html" %}
{% block title %}Templates{% endblock %}
{% block content %}
    <h1>Templates</h1>
    {% if solution_templates|length == 0 %}
        <p>No problems found in the homework LaTeX code.</p>
    {% else %}
        <p>Choose from the problems below:</p>
    {% endif %}
    <div class="row justify-content-md-center">
        {% for solution_template in solution_templates %}
            <div class="col">
                <div class="form-group">
                    <form action="https://www.overleaf.com/docs" method="post" target="_blank">
                        <input type="hidden" id="encoded_snip" name="encoded_snip"
                               value="{{ solution_template.encoded_snip }}">
                        <input type="hidden" id="snip_name" name="snip_name"
                               value="{{ solution_template.snip_name }}">
                        <button type="submit" class="btn btn-primary pt-3 pb-3 pl-5 pr-5 w-100"><span
                                class="pr-1">Problem {{ solution_template.number }}</span>
                            <i data-feather="external-link"></i>
                        </button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}